.markdown-body.gh-light {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body.gh-light .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body.gh-light h1:hover .anchor .octicon-link:before,
.markdown-body.gh-light h2:hover .anchor .octicon-link:before,
.markdown-body.gh-light h3:hover .anchor .octicon-link:before,
.markdown-body.gh-light h4:hover .anchor .octicon-link:before,
.markdown-body.gh-light h5:hover .anchor .octicon-link:before,
.markdown-body.gh-light h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body.gh-light details,
.markdown-body.gh-light figcaption,
.markdown-body.gh-light figure {
  display: block;
}

.markdown-body.gh-light summary {
  display: list-item;
}

.markdown-body.gh-light [hidden] {
  display: none !important;
}

.markdown-body.gh-light a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.markdown-body.gh-light abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.markdown-body.gh-light b,
.markdown-body.gh-light strong {
  font-weight: 600;
}

.markdown-body.gh-light dfn {
  font-style: italic;
}

.markdown-body.gh-light h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body.gh-light mark {
  background-color: #fff8c5;
  color: #24292f;
}

.markdown-body.gh-light small {
  font-size: 90%;
}

.markdown-body.gh-light sub,
.markdown-body.gh-light sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body.gh-light sub {
  bottom: -0.25em;
}

.markdown-body.gh-light sup {
  top: -0.5em;
}

.markdown-body.gh-light img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

.markdown-body.gh-light code,
.markdown-body.gh-light kbd,
.markdown-body.gh-light pre,
.markdown-body.gh-light samp {
  font-family: monospace;
  font-size: 1em;
}

.markdown-body.gh-light figure {
  margin: 1em 40px;
}

.markdown-body.gh-light hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210,18%,87%,1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

.markdown-body.gh-light input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body.gh-light [type=button],
.markdown-body.gh-light [type=reset],
.markdown-body.gh-light [type=submit] {
  -webkit-appearance: button;
}

.markdown-body.gh-light [type=checkbox],
.markdown-body.gh-light [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body.gh-light [type=number]::-webkit-inner-spin-button,
.markdown-body.gh-light [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-body.gh-light [type=search]::-webkit-search-cancel-button,
.markdown-body.gh-light [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown-body.gh-light ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-body.gh-light ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdown-body.gh-light a:hover {
  text-decoration: underline;
}

.markdown-body.gh-light hr::before {
  display: table;
  content: "";
}

.markdown-body.gh-light hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body.gh-light table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body.gh-light td,
.markdown-body.gh-light th {
  padding: 0;
}

.markdown-body.gh-light details summary {
  cursor: pointer;
}

.markdown-body.gh-light details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown-body.gh-light a,
.markdown-body.gh-light [role=button],
.markdown-body.gh-light input[type=radio],
.markdown-body.gh-light input[type=checkbox] {
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color,background-color,box-shadow,border-color;
}

.markdown-body.gh-light a:focus,
.markdown-body.gh-light [role=button]:focus,
.markdown-body.gh-light input[type=radio]:focus,
.markdown-body.gh-light input[type=checkbox]:focus {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body.gh-light a:focus:not(:focus-visible),
.markdown-body.gh-light [role=button]:focus:not(:focus-visible),
.markdown-body.gh-light input[type=radio]:focus:not(:focus-visible),
.markdown-body.gh-light input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.markdown-body.gh-light a:focus-visible,
.markdown-body.gh-light [role=button]:focus-visible,
.markdown-body.gh-light input[type=radio]:focus-visible,
.markdown-body.gh-light input[type=checkbox]:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body.gh-light a:not([class]):focus,
.markdown-body.gh-light a:not([class]):focus-visible,
.markdown-body.gh-light input[type=radio]:focus,
.markdown-body.gh-light input[type=radio]:focus-visible,
.markdown-body.gh-light input[type=checkbox]:focus,
.markdown-body.gh-light input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

.markdown-body.gh-light kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}

.markdown-body.gh-light h1,
.markdown-body.gh-light h2,
.markdown-body.gh-light h3,
.markdown-body.gh-light h4,
.markdown-body.gh-light h5,
.markdown-body.gh-light h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body.gh-light h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body.gh-light h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-body.gh-light h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-body.gh-light h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown-body.gh-light h6 {
  font-weight: 600;
  font-size: .85em;
  color: #57606a;
}

.markdown-body.gh-light p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body.gh-light blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

.markdown-body.gh-light ul,
.markdown-body.gh-light ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body.gh-light ol ol,
.markdown-body.gh-light ul ol {
  list-style-type: lower-roman;
}

.markdown-body.gh-light ul ul ol,
.markdown-body.gh-light ul ol ol,
.markdown-body.gh-light ol ul ol,
.markdown-body.gh-light ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body.gh-light dd {
  margin-left: 0;
}

.markdown-body.gh-light tt,
.markdown-body.gh-light code,
.markdown-body.gh-light samp {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.markdown-body.gh-light pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-body.gh-light .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-body.gh-light ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body.gh-light input::-webkit-outer-spin-button,
.markdown-body.gh-light input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body.gh-light [data-catalyst] {
  display: block;
}

.markdown-body.gh-light [data-catalyst-inline] {
  display: inline;
}

.markdown-body.gh-light g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-body.gh-light g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body.gh-light::before {
  display: table;
  content: "";
}

.markdown-body.gh-light::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body.gh-light>*:first-child {
  margin-top: 0 !important;
}

.markdown-body.gh-light>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body.gh-light a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body.gh-light .absent {
  color: #cf222e;
}

.markdown-body.gh-light .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body.gh-light .anchor:focus {
  outline: none;
}

.markdown-body.gh-light p,
.markdown-body.gh-light blockquote,
.markdown-body.gh-light ul,
.markdown-body.gh-light ol,
.markdown-body.gh-light dl,
.markdown-body.gh-light table,
.markdown-body.gh-light pre,
.markdown-body.gh-light details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body.gh-light blockquote>:first-child {
  margin-top: 0;
}

.markdown-body.gh-light blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body.gh-light h1 .octicon-link,
.markdown-body.gh-light h2 .octicon-link,
.markdown-body.gh-light h3 .octicon-link,
.markdown-body.gh-light h4 .octicon-link,
.markdown-body.gh-light h5 .octicon-link,
.markdown-body.gh-light h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body.gh-light h1:hover .anchor,
.markdown-body.gh-light h2:hover .anchor,
.markdown-body.gh-light h3:hover .anchor,
.markdown-body.gh-light h4:hover .anchor,
.markdown-body.gh-light h5:hover .anchor,
.markdown-body.gh-light h6:hover .anchor {
  text-decoration: none;
}

.markdown-body.gh-light h1:hover .anchor .octicon-link,
.markdown-body.gh-light h2:hover .anchor .octicon-link,
.markdown-body.gh-light h3:hover .anchor .octicon-link,
.markdown-body.gh-light h4:hover .anchor .octicon-link,
.markdown-body.gh-light h5:hover .anchor .octicon-link,
.markdown-body.gh-light h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body.gh-light h1 tt,
.markdown-body.gh-light h1 code,
.markdown-body.gh-light h2 tt,
.markdown-body.gh-light h2 code,
.markdown-body.gh-light h3 tt,
.markdown-body.gh-light h3 code,
.markdown-body.gh-light h4 tt,
.markdown-body.gh-light h4 code,
.markdown-body.gh-light h5 tt,
.markdown-body.gh-light h5 code,
.markdown-body.gh-light h6 tt,
.markdown-body.gh-light h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown-body.gh-light summary h1,
.markdown-body.gh-light summary h2,
.markdown-body.gh-light summary h3,
.markdown-body.gh-light summary h4,
.markdown-body.gh-light summary h5,
.markdown-body.gh-light summary h6 {
  display: inline-block;
}

.markdown-body.gh-light summary h1 .anchor,
.markdown-body.gh-light summary h2 .anchor,
.markdown-body.gh-light summary h3 .anchor,
.markdown-body.gh-light summary h4 .anchor,
.markdown-body.gh-light summary h5 .anchor,
.markdown-body.gh-light summary h6 .anchor {
  margin-left: -40px;
}

.markdown-body.gh-light summary h1,
.markdown-body.gh-light summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.markdown-body.gh-light ul.no-list,
.markdown-body.gh-light ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-body.gh-light ol[type="1"] {
  list-style-type: decimal;
}

.markdown-body.gh-light ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown-body.gh-light ol[type=i] {
  list-style-type: lower-roman;
}

.markdown-body.gh-light div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body.gh-light ul ul,
.markdown-body.gh-light ul ol,
.markdown-body.gh-light ol ol,
.markdown-body.gh-light ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body.gh-light li>p {
  margin-top: 16px;
}

.markdown-body.gh-light li+li {
  margin-top: .25em;
}

.markdown-body.gh-light dl {
  padding: 0;
}

.markdown-body.gh-light dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body.gh-light dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body.gh-light table th {
  font-weight: 600;
}

.markdown-body.gh-light table th,
.markdown-body.gh-light table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdown-body.gh-light table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

.markdown-body.gh-light table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body.gh-light table img {
  background-color: transparent;
}

.markdown-body.gh-light img[align=right] {
  padding-left: 20px;
}

.markdown-body.gh-light img[align=left] {
  padding-right: 20px;
}

.markdown-body.gh-light .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-body.gh-light span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body.gh-light span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

.markdown-body.gh-light span.frame span img {
  display: block;
  float: left;
}

.markdown-body.gh-light span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

.markdown-body.gh-light span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body.gh-light span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-body.gh-light span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-body.gh-light span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body.gh-light span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body.gh-light span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-body.gh-light span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-body.gh-light span.float-left span {
  margin: 13px 0 0;
}

.markdown-body.gh-light span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-body.gh-light span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body.gh-light code,
.markdown-body.gh-light tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}

.markdown-body.gh-light code br,
.markdown-body.gh-light tt br {
  display: none;
}

.markdown-body.gh-light del code {
  text-decoration: inherit;
}

.markdown-body.gh-light samp {
  font-size: 85%;
}

.markdown-body.gh-light pre code {
  font-size: 100%;
}

.markdown-body.gh-light pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body.gh-light .highlight {
  margin-bottom: 16px;
}

.markdown-body.gh-light .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body.gh-light .highlight pre,
.markdown-body.gh-light pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.markdown-body.gh-light pre code,
.markdown-body.gh-light pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body.gh-light .csv-data td,
.markdown-body.gh-light .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-body.gh-light .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.markdown-body.gh-light .csv-data tr {
  border-top: 0;
}

.markdown-body.gh-light .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.markdown-body.gh-light [data-footnote-ref]::before {
  content: "[";
}

.markdown-body.gh-light [data-footnote-ref]::after {
  content: "]";
}

.markdown-body.gh-light .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

.markdown-body.gh-light .footnotes ol {
  padding-left: 16px;
}

.markdown-body.gh-light .footnotes li {
  position: relative;
}

.markdown-body.gh-light .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.markdown-body.gh-light .footnotes li:target {
  color: #24292f;
}

.markdown-body.gh-light .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-body.gh-light [data-a11y-animated-images=system] [data-animated-image],
.markdown-body.gh-light [data-a11y-animated-images=disabled] [data-animated-image] {
  display: none;
}

.markdown-body.gh-light .task-list-item {
  list-style-type: none;
}

.markdown-body.gh-light .task-list-item label {
  font-weight: 400;
}

.markdown-body.gh-light .task-list-item.enabled label {
  cursor: pointer;
}

.markdown-body.gh-light .task-list-item+.task-list-item {
  margin-top: 4px;
}

.markdown-body.gh-light .task-list-item .handle {
  display: none;
}

.markdown-body.gh-light .task-list-item-checkbox {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.markdown-body.gh-light .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.markdown-body.gh-light ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.markdown-body.gh-light details>summary::-webkit-details-marker {
  display: none;
}
