.markdown-body.gh-light-high-contrast {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #0e1116;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-body.gh-light-high-contrast .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdown-body.gh-light-high-contrast h1:hover .anchor .octicon-link:before,
.markdown-body.gh-light-high-contrast h2:hover .anchor .octicon-link:before,
.markdown-body.gh-light-high-contrast h3:hover .anchor .octicon-link:before,
.markdown-body.gh-light-high-contrast h4:hover .anchor .octicon-link:before,
.markdown-body.gh-light-high-contrast h5:hover .anchor .octicon-link:before,
.markdown-body.gh-light-high-contrast h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body.gh-light-high-contrast details,
.markdown-body.gh-light-high-contrast figcaption,
.markdown-body.gh-light-high-contrast figure {
    display: block;
}

.markdown-body.gh-light-high-contrast summary {
    display: list-item;
}

.markdown-body.gh-light-high-contrast [hidden] {
    display: none !important;
}

.markdown-body.gh-light-high-contrast a {
    background-color: transparent;
    color: #0349b4;
    text-decoration: none;
}

.markdown-body.gh-light-high-contrast abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

.markdown-body.gh-light-high-contrast b,
.markdown-body.gh-light-high-contrast strong {
    font-weight: 600;
}

.markdown-body.gh-light-high-contrast dfn {
    font-style: italic;
}

.markdown-body.gh-light-high-contrast h1 {
    margin: 0.67em 0;
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #88929d;
}

.markdown-body.gh-light-high-contrast mark {
    background-color: #fcf7be;
    color: #0e1116;
}

.markdown-body.gh-light-high-contrast small {
    font-size: 90%;
}

.markdown-body.gh-light-high-contrast sub,
.markdown-body.gh-light-high-contrast sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdown-body.gh-light-high-contrast sub {
    bottom: -0.25em;
}

.markdown-body.gh-light-high-contrast sup {
    top: -0.5em;
}

.markdown-body.gh-light-high-contrast img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #ffffff;
}

.markdown-body.gh-light-high-contrast code,
.markdown-body.gh-light-high-contrast kbd,
.markdown-body.gh-light-high-contrast pre,
.markdown-body.gh-light-high-contrast samp {
    font-family: monospace;
    font-size: 1em;
}

.markdown-body.gh-light-high-contrast figure {
    margin: 1em 40px;
}

.markdown-body.gh-light-high-contrast hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid #88929d;
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #20252c;
    border: 0;
}

.markdown-body.gh-light-high-contrast input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdown-body.gh-light-high-contrast [type='button'],
.markdown-body.gh-light-high-contrast [type='reset'],
.markdown-body.gh-light-high-contrast [type='submit'] {
    -webkit-appearance: button;
}

.markdown-body.gh-light-high-contrast [type='checkbox'],
.markdown-body.gh-light-high-contrast [type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

.markdown-body.gh-light-high-contrast
    [type='number']::-webkit-inner-spin-button,
.markdown-body.gh-light-high-contrast
    [type='number']::-webkit-outer-spin-button {
    height: auto;
}

.markdown-body.gh-light-high-contrast
    [type='search']::-webkit-search-cancel-button,
.markdown-body.gh-light-high-contrast
    [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

.markdown-body.gh-light-high-contrast ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

.markdown-body.gh-light-high-contrast ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.markdown-body.gh-light-high-contrast a:hover {
    text-decoration: underline;
}

.markdown-body.gh-light-high-contrast hr::before {
    display: table;
    content: '';
}

.markdown-body.gh-light-high-contrast hr::after {
    display: table;
    clear: both;
    content: '';
}

.markdown-body.gh-light-high-contrast table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.markdown-body.gh-light-high-contrast td,
.markdown-body.gh-light-high-contrast th {
    padding: 0;
}

.markdown-body.gh-light-high-contrast details summary {
    cursor: pointer;
}

.markdown-body.gh-light-high-contrast details:not([open]) > *:not(summary) {
    display: none !important;
}

.markdown-body.gh-light-high-contrast a,
.markdown-body.gh-light-high-contrast [role='button'],
.markdown-body.gh-light-high-contrast input[type='radio'],
.markdown-body.gh-light-high-contrast input[type='checkbox'] {
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}

.markdown-body.gh-light-high-contrast a:focus,
.markdown-body.gh-light-high-contrast [role='button']:focus,
.markdown-body.gh-light-high-contrast input[type='radio']:focus,
.markdown-body.gh-light-high-contrast input[type='checkbox']:focus {
    outline: 2px solid #0349b4;
    outline-offset: -2px;
    box-shadow: none;
}

.markdown-body.gh-light-high-contrast a:focus:not(:focus-visible),
.markdown-body.gh-light-high-contrast [role='button']:focus:not(:focus-visible),
.markdown-body.gh-light-high-contrast
    input[type='radio']:focus:not(:focus-visible),
.markdown-body.gh-light-high-contrast
    input[type='checkbox']:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}

.markdown-body.gh-light-high-contrast a:focus-visible,
.markdown-body.gh-light-high-contrast [role='button']:focus-visible,
.markdown-body.gh-light-high-contrast input[type='radio']:focus-visible,
.markdown-body.gh-light-high-contrast input[type='checkbox']:focus-visible {
    outline: 2px solid #0349b4;
    outline-offset: -2px;
    box-shadow: none;
}

.markdown-body.gh-light-high-contrast a:not([class]):focus,
.markdown-body.gh-light-high-contrast a:not([class]):focus-visible,
.markdown-body.gh-light-high-contrast input[type='radio']:focus,
.markdown-body.gh-light-high-contrast input[type='radio']:focus-visible,
.markdown-body.gh-light-high-contrast input[type='checkbox']:focus,
.markdown-body.gh-light-high-contrast input[type='checkbox']:focus-visible {
    outline-offset: 0;
}

.markdown-body.gh-light-high-contrast kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace;
    line-height: 10px;
    color: #0e1116;
    vertical-align: middle;
    background-color: #e7ecf0;
    border: solid 1px rgba(172, 182, 192, 0.2);
    border-bottom-color: rgba(172, 182, 192, 0.2);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(172, 182, 192, 0.2);
}

.markdown-body.gh-light-high-contrast h1,
.markdown-body.gh-light-high-contrast h2,
.markdown-body.gh-light-high-contrast h3,
.markdown-body.gh-light-high-contrast h4,
.markdown-body.gh-light-high-contrast h5,
.markdown-body.gh-light-high-contrast h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-body.gh-light-high-contrast h2 {
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #88929d;
}

.markdown-body.gh-light-high-contrast h3 {
    font-weight: 600;
    font-size: 1.25em;
}

.markdown-body.gh-light-high-contrast h4 {
    font-weight: 600;
    font-size: 1em;
}

.markdown-body.gh-light-high-contrast h5 {
    font-weight: 600;
    font-size: 0.875em;
}

.markdown-body.gh-light-high-contrast h6 {
    font-weight: 600;
    font-size: 0.85em;
    color: #0e1116;
}

.markdown-body.gh-light-high-contrast p {
    margin-top: 0;
    margin-bottom: 10px;
}

.markdown-body.gh-light-high-contrast blockquote {
    margin: 0;
    padding: 0 1em;
    color: #0e1116;
    border-left: 0.25em solid #20252c;
}

.markdown-body.gh-light-high-contrast ul,
.markdown-body.gh-light-high-contrast ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.markdown-body.gh-light-high-contrast ol ol,
.markdown-body.gh-light-high-contrast ul ol {
    list-style-type: lower-roman;
}

.markdown-body.gh-light-high-contrast ul ul ol,
.markdown-body.gh-light-high-contrast ul ol ol,
.markdown-body.gh-light-high-contrast ol ul ol,
.markdown-body.gh-light-high-contrast ol ol ol {
    list-style-type: lower-alpha;
}

.markdown-body.gh-light-high-contrast dd {
    margin-left: 0;
}

.markdown-body.gh-light-high-contrast tt,
.markdown-body.gh-light-high-contrast code,
.markdown-body.gh-light-high-contrast samp {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace;
    font-size: 12px;
}

.markdown-body.gh-light-high-contrast pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace;
    font-size: 12px;
    word-wrap: normal;
}

.markdown-body.gh-light-high-contrast .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdown-body.gh-light-high-contrast ::placeholder {
    color: #66707b;
    opacity: 1;
}

.markdown-body.gh-light-high-contrast input::-webkit-outer-spin-button,
.markdown-body.gh-light-high-contrast input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdown-body.gh-light-high-contrast [data-catalyst] {
    display: block;
}

.markdown-body.gh-light-high-contrast [data-catalyst-inline] {
    display: inline;
}

.markdown-body.gh-light-high-contrast g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
}

.markdown-body.gh-light-high-contrast g-emoji img {
    width: 1em;
    height: 1em;
}

.markdown-body.gh-light-high-contrast::before {
    display: table;
    content: '';
}

.markdown-body.gh-light-high-contrast::after {
    display: table;
    clear: both;
    content: '';
}

.markdown-body.gh-light-high-contrast > *:first-child {
    margin-top: 0 !important;
}

.markdown-body.gh-light-high-contrast > *:last-child {
    margin-bottom: 0 !important;
}

.markdown-body.gh-light-high-contrast a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdown-body.gh-light-high-contrast .absent {
    color: #a0111f;
}

.markdown-body.gh-light-high-contrast .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdown-body.gh-light-high-contrast .anchor:focus {
    outline: none;
}

.markdown-body.gh-light-high-contrast p,
.markdown-body.gh-light-high-contrast blockquote,
.markdown-body.gh-light-high-contrast ul,
.markdown-body.gh-light-high-contrast ol,
.markdown-body.gh-light-high-contrast dl,
.markdown-body.gh-light-high-contrast table,
.markdown-body.gh-light-high-contrast pre,
.markdown-body.gh-light-high-contrast details {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body.gh-light-high-contrast blockquote > :first-child {
    margin-top: 0;
}

.markdown-body.gh-light-high-contrast blockquote > :last-child {
    margin-bottom: 0;
}

.markdown-body.gh-light-high-contrast h1 .octicon-link,
.markdown-body.gh-light-high-contrast h2 .octicon-link,
.markdown-body.gh-light-high-contrast h3 .octicon-link,
.markdown-body.gh-light-high-contrast h4 .octicon-link,
.markdown-body.gh-light-high-contrast h5 .octicon-link,
.markdown-body.gh-light-high-contrast h6 .octicon-link {
    color: #0e1116;
    vertical-align: middle;
    visibility: hidden;
}

.markdown-body.gh-light-high-contrast h1:hover .anchor,
.markdown-body.gh-light-high-contrast h2:hover .anchor,
.markdown-body.gh-light-high-contrast h3:hover .anchor,
.markdown-body.gh-light-high-contrast h4:hover .anchor,
.markdown-body.gh-light-high-contrast h5:hover .anchor,
.markdown-body.gh-light-high-contrast h6:hover .anchor {
    text-decoration: none;
}

.markdown-body.gh-light-high-contrast h1:hover .anchor .octicon-link,
.markdown-body.gh-light-high-contrast h2:hover .anchor .octicon-link,
.markdown-body.gh-light-high-contrast h3:hover .anchor .octicon-link,
.markdown-body.gh-light-high-contrast h4:hover .anchor .octicon-link,
.markdown-body.gh-light-high-contrast h5:hover .anchor .octicon-link,
.markdown-body.gh-light-high-contrast h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdown-body.gh-light-high-contrast h1 tt,
.markdown-body.gh-light-high-contrast h1 code,
.markdown-body.gh-light-high-contrast h2 tt,
.markdown-body.gh-light-high-contrast h2 code,
.markdown-body.gh-light-high-contrast h3 tt,
.markdown-body.gh-light-high-contrast h3 code,
.markdown-body.gh-light-high-contrast h4 tt,
.markdown-body.gh-light-high-contrast h4 code,
.markdown-body.gh-light-high-contrast h5 tt,
.markdown-body.gh-light-high-contrast h5 code,
.markdown-body.gh-light-high-contrast h6 tt,
.markdown-body.gh-light-high-contrast h6 code {
    padding: 0 0.2em;
    font-size: inherit;
}

.markdown-body.gh-light-high-contrast summary h1,
.markdown-body.gh-light-high-contrast summary h2,
.markdown-body.gh-light-high-contrast summary h3,
.markdown-body.gh-light-high-contrast summary h4,
.markdown-body.gh-light-high-contrast summary h5,
.markdown-body.gh-light-high-contrast summary h6 {
    display: inline-block;
}

.markdown-body.gh-light-high-contrast summary h1 .anchor,
.markdown-body.gh-light-high-contrast summary h2 .anchor,
.markdown-body.gh-light-high-contrast summary h3 .anchor,
.markdown-body.gh-light-high-contrast summary h4 .anchor,
.markdown-body.gh-light-high-contrast summary h5 .anchor,
.markdown-body.gh-light-high-contrast summary h6 .anchor {
    margin-left: -40px;
}

.markdown-body.gh-light-high-contrast summary h1,
.markdown-body.gh-light-high-contrast summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}

.markdown-body.gh-light-high-contrast ul.no-list,
.markdown-body.gh-light-high-contrast ol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdown-body.gh-light-high-contrast ol[type='1'] {
    list-style-type: decimal;
}

.markdown-body.gh-light-high-contrast ol[type='a'] {
    list-style-type: lower-alpha;
}

.markdown-body.gh-light-high-contrast ol[type='i'] {
    list-style-type: lower-roman;
}

.markdown-body.gh-light-high-contrast div > ol:not([type]) {
    list-style-type: decimal;
}

.markdown-body.gh-light-high-contrast ul ul,
.markdown-body.gh-light-high-contrast ul ol,
.markdown-body.gh-light-high-contrast ol ol,
.markdown-body.gh-light-high-contrast ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body.gh-light-high-contrast li > p {
    margin-top: 16px;
}

.markdown-body.gh-light-high-contrast li + li {
    margin-top: 0.25em;
}

.markdown-body.gh-light-high-contrast dl {
    padding: 0;
}

.markdown-body.gh-light-high-contrast dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.markdown-body.gh-light-high-contrast dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdown-body.gh-light-high-contrast table th {
    font-weight: 600;
}

.markdown-body.gh-light-high-contrast table th,
.markdown-body.gh-light-high-contrast table td {
    padding: 6px 13px;
    border: 1px solid #20252c;
}

.markdown-body.gh-light-high-contrast table tr {
    background-color: #ffffff;
    border-top: 1px solid #88929d;
}

.markdown-body.gh-light-high-contrast table tr:nth-child(2n) {
    background-color: #e7ecf0;
}

.markdown-body.gh-light-high-contrast table img {
    background-color: transparent;
}

.markdown-body.gh-light-high-contrast img[align='right'] {
    padding-left: 20px;
}

.markdown-body.gh-light-high-contrast img[align='left'] {
    padding-right: 20px;
}

.markdown-body.gh-light-high-contrast .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdown-body.gh-light-high-contrast span.frame {
    display: block;
    overflow: hidden;
}

.markdown-body.gh-light-high-contrast span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #20252c;
}

.markdown-body.gh-light-high-contrast span.frame span img {
    display: block;
    float: left;
}

.markdown-body.gh-light-high-contrast span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #0e1116;
}

.markdown-body.gh-light-high-contrast span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-body.gh-light-high-contrast span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdown-body.gh-light-high-contrast span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdown-body.gh-light-high-contrast span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-body.gh-light-high-contrast span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdown-body.gh-light-high-contrast span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdown-body.gh-light-high-contrast span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdown-body.gh-light-high-contrast span.float-left span {
    margin: 13px 0 0;
}

.markdown-body.gh-light-high-contrast span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdown-body.gh-light-high-contrast span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdown-body.gh-light-high-contrast code,
.markdown-body.gh-light-high-contrast tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(172, 182, 192, 0.2);
    border-radius: 6px;
}

.markdown-body.gh-light-high-contrast code br,
.markdown-body.gh-light-high-contrast tt br {
    display: none;
}

.markdown-body.gh-light-high-contrast del code {
    text-decoration: inherit;
}

.markdown-body.gh-light-high-contrast samp {
    font-size: 85%;
}

.markdown-body.gh-light-high-contrast pre code {
    font-size: 100%;
}

.markdown-body.gh-light-high-contrast pre > code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown-body.gh-light-high-contrast .highlight {
    margin-bottom: 16px;
}

.markdown-body.gh-light-high-contrast .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-body.gh-light-high-contrast .highlight pre,
.markdown-body.gh-light-high-contrast pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #e7ecf0;
    border-radius: 6px;
}

.markdown-body.gh-light-high-contrast pre code,
.markdown-body.gh-light-high-contrast pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-body.gh-light-high-contrast .csv-data td,
.markdown-body.gh-light-high-contrast .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdown-body.gh-light-high-contrast .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #ffffff;
    border: 0;
}

.markdown-body.gh-light-high-contrast .csv-data tr {
    border-top: 0;
}

.markdown-body.gh-light-high-contrast .csv-data th {
    font-weight: 600;
    background: #e7ecf0;
    border-top: 0;
}

.markdown-body.gh-light-high-contrast [data-footnote-ref]::before {
    content: '[';
}

.markdown-body.gh-light-high-contrast [data-footnote-ref]::after {
    content: ']';
}

.markdown-body.gh-light-high-contrast .footnotes {
    font-size: 12px;
    color: #0e1116;
    border-top: 1px solid #20252c;
}

.markdown-body.gh-light-high-contrast .footnotes ol {
    padding-left: 16px;
}

.markdown-body.gh-light-high-contrast .footnotes li {
    position: relative;
}

.markdown-body.gh-light-high-contrast .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: '';
    border: 2px solid #0349b4;
    border-radius: 6px;
}

.markdown-body.gh-light-high-contrast .footnotes li:target {
    color: #0e1116;
}

.markdown-body.gh-light-high-contrast
    .footnotes
    .data-footnote-backref
    g-emoji {
    font-family: monospace;
}

.markdown-body.gh-light-high-contrast
    [data-a11y-animated-images='system']
    [data-animated-image],
.markdown-body.gh-light-high-contrast
    [data-a11y-animated-images='disabled']
    [data-animated-image] {
    display: none;
}

.markdown-body.gh-light-high-contrast .task-list-item {
    list-style-type: none;
}

.markdown-body.gh-light-high-contrast .task-list-item label {
    font-weight: 400;
}

.markdown-body.gh-light-high-contrast .task-list-item.enabled label {
    cursor: pointer;
}

.markdown-body.gh-light-high-contrast .task-list-item + .task-list-item {
    margin-top: 4px;
}

.markdown-body.gh-light-high-contrast .task-list-item .handle {
    display: none;
}

.markdown-body.gh-light-high-contrast .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

.markdown-body.gh-light-high-contrast
    .contains-task-list:dir(rtl)
    .task-list-item-checkbox {
    margin: 0 -1.6em 0.25em 0.2em;
}

.markdown-body.gh-light-high-contrast ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.markdown-body.gh-light-high-contrast
    details
    > summary::-webkit-details-marker {
    display: none;
}
