.markdown-body .hljs-comment {
  color: #8b949e;
}

.markdown-body .hljs-attr,
.markdown-body .hljs-number,
.markdown-body .hljs-attribute,
.markdown-body .hljs-literal,
.markdown-body .hljs-string .hljs-title.class_ {
  color: #79c0ff;
}

.markdown-body .pl-e,
.markdown-body .hljs-built_in,
.markdown-body .hljs-title.function_,
.markdown-body .hljs-title {
  color: #d2a8ff;
}

.markdown-body .hljs-tag,
.markdown-body .hljs-params,
.markdown-body .hljs-string .pl-s1 {
  color: #c9d1d9;
}

.markdown-body .hljs-name {
  color: #7ee787;
}

.markdown-body .hljs-keyword,
.markdown-body .hljs-type {
  color: #ff7b72;
}

.markdown-body .hljs-string,
.markdown-body .pl-pds,
.markdown-body .hljs-string .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: #a5d6ff;
}

.markdown-body .hljs-title.class_,
.markdown-body .pl-smw {
  color: #ffa657;
}

.markdown-body .pl-bu {
  color: #f85149;
}

.markdown-body .pl-ii {
  color: #f0f6fc;
  background-color: #8e1519;
}

.markdown-body .pl-c2 {
  color: #f0f6fc;
  background-color: #b62324;
}

.markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #7ee787;
}

.markdown-body .pl-ml {
  color: #f2cc60;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .hljs-built_in,
.markdown-body .pl-mh .hljs-title.function_,
.markdown-body .pl-mh .hljs-title,
.markdown-body .pl-ms {
  font-weight: bold;
  color: #1f6feb;
}

.markdown-body .pl-mi {
  font-style: italic;
  color: #c9d1d9;
}

.markdown-body .pl-mb {
  font-weight: bold;
  color: #c9d1d9;
}

.markdown-body .pl-md {
  color: #ffdcd7;
  background-color: #67060c;
}

.markdown-body .pl-mi1 {
  color: #aff5b4;
  background-color: #033a16;
}

.markdown-body .pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

.markdown-body .pl-mi2 {
  color: #c9d1d9;
  background-color: #1158c7;
}

.markdown-body .pl-mdr {
  font-weight: bold;
  color: #d2a8ff;
}

.markdown-body .pl-ba {
  color: #8b949e;
}

.markdown-body .pl-sg {
  color: #484f58;
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: #a5d6ff;
}