.markdown-body.gh-dark-high-contrast .hljs-comment {
  color: #bdc4cc;
}

.markdown-body.gh-dark-high-contrast .hljs-attr,
.markdown-body.gh-dark-high-contrast .hljs-number,
.markdown-body.gh-dark-high-contrast .hljs-attribute,
.markdown-body.gh-dark-high-contrast .hljs-literal,
.markdown-body.gh-dark-high-contrast .hljs-string .hljs-title.class_ {
  color: #91cbff;
}

.markdown-body.gh-dark-high-contrast .pl-e,
.markdown-body.gh-dark-high-contrast .hljs-built_in,
.markdown-body.gh-dark-high-contrast .hljs-title.function_,
.markdown-body.gh-dark-high-contrast .hljs-title {
  color: #dbb7ff;
}

.markdown-body.gh-dark-high-contrast .hljs-tag,
.markdown-body.gh-dark-high-contrast .hljs-params,
.markdown-body.gh-dark-high-contrast .hljs-string .pl-s1 {
  color: #f0f3f6;
}

.markdown-body.gh-dark-high-contrast .hljs-name {
  color: #72f088;
}

.markdown-body.gh-dark-high-contrast .hljs-keyword,
.markdown-body.gh-dark-high-contrast .hljs-type {
  color: #ff9492;
}

.markdown-body.gh-dark-high-contrast .hljs-string,
.markdown-body.gh-dark-high-contrast .pl-pds,
.markdown-body.gh-dark-high-contrast .hljs-string .pl-pse .pl-s1,
.markdown-body.gh-dark-high-contrast .pl-sr,
.markdown-body.gh-dark-high-contrast .pl-sr .pl-cce,
.markdown-body.gh-dark-high-contrast .pl-sr .pl-sre,
.markdown-body.gh-dark-high-contrast .pl-sr .pl-sra {
  color: #addcff;
}

.markdown-body.gh-dark-high-contrast .hljs-title.class_,
.markdown-body.gh-dark-high-contrast .pl-smw {
  color: #ffb757;
}

.markdown-body.gh-dark-high-contrast .pl-bu {
  color: #ff6a69;
}

.markdown-body.gh-dark-high-contrast .pl-ii {
  color: #ffffff;
  background-color: #e82a2f;
}

.markdown-body.gh-dark-high-contrast .pl-c2 {
  color: #ffffff;
  background-color: #ff4445;
}

.markdown-body.gh-dark-high-contrast .pl-sr .pl-cce {
  font-weight: bold;
  color: #72f088;
}

.markdown-body.gh-dark-high-contrast .pl-ml {
  color: #fbd669;
}

.markdown-body.gh-dark-high-contrast .pl-mh,
.markdown-body.gh-dark-high-contrast .pl-mh .hljs-built_in,
.markdown-body.gh-dark-high-contrast .pl-mh .hljs-title.function_,
.markdown-body.gh-dark-high-contrast .pl-mh .hljs-title,
.markdown-body.gh-dark-high-contrast .pl-ms {
  font-weight: bold;
  color: #409eff;
}

.markdown-body.gh-dark-high-contrast .pl-mi {
  font-style: italic;
  color: #f0f3f6;
}

.markdown-body.gh-dark-high-contrast .pl-mb {
  font-weight: bold;
  color: #f0f3f6;
}

.markdown-body.gh-dark-high-contrast .pl-md {
  color: #ffdedb;
  background-color: #cc1421;
}

.markdown-body.gh-dark-high-contrast .pl-mi1 {
  color: #acf7b6;
  background-color: #007728;
}

.markdown-body.gh-dark-high-contrast .pl-mc {
  color: #ffe1b4;
  background-color: #a74c00;
}

.markdown-body.gh-dark-high-contrast .pl-mi2 {
  color: #f0f3f6;
  background-color: #318bf8;
}

.markdown-body.gh-dark-high-contrast .pl-mdr {
  font-weight: bold;
  color: #dbb7ff;
}

.markdown-body.gh-dark-high-contrast .pl-ba {
  color: #bdc4cc;
}

.markdown-body.gh-dark-high-contrast .pl-sg {
  color: #7a828e;
}

.markdown-body.gh-dark-high-contrast .pl-corl {
  text-decoration: underline;
  color: #addcff;
}