.markdown-body .pl-c {
  color: #66707B;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #023b95;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #622cbc;
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
  color: #0E1116;
}

.markdown-body .pl-ent {
  color: #024c1a;
}

.markdown-body .pl-k {
  color: #a0111f;
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: #032563;
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
  color: #702c00;
}

.markdown-body .pl-bu {
  color: #6e011a;
}

.markdown-body .pl-ii {
  color: #FFFFFF;
  background-color: #6e011a;
}

.markdown-body .pl-c2 {
  color: #FFFFFF;
  background-color: #a0111f;
}

.markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #024c1a;
}

.markdown-body .pl-ml {
  color: #2e1800;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  font-weight: bold;
  color: #023b95;
}

.markdown-body .pl-mi {
  font-style: italic;
  color: #0E1116;
}

.markdown-body .pl-mb {
  font-weight: bold;
  color: #0E1116;
}

.markdown-body .pl-md {
  color: #6e011a;
  background-color: #fff0ee;
}

.markdown-body .pl-mi1 {
  color: #024c1a;
  background-color: #d2fedb;
}

.markdown-body .pl-mc {
  color: #702c00;
  background-color: #ffc67b;
}

.markdown-body .pl-mi2 {
  color: #E7ECF0;
  background-color: #023b95;
}

.markdown-body .pl-mdr {
  font-weight: bold;
  color: #622cbc;
}

.markdown-body .pl-ba {
  color: #4B535D;
}

.markdown-body .pl-sg {
  color: #88929D;
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: #032563;
}