.markdown-body.gh-light-tritanopia .hljs-comment {
  color: #6e7781;
}

.markdown-body.gh-light-tritanopia .hljs-attr,
.markdown-body.gh-light-tritanopia .hljs-number,
.markdown-body.gh-light-tritanopia .hljs-attribute,
.markdown-body.gh-light-tritanopia .hljs-literal,
.markdown-body.gh-light-tritanopia .hljs-string .hljs-title.class_ {
  color: #0550ae;
}

.markdown-body.gh-light-tritanopia .pl-e,
.markdown-body.gh-light-tritanopia .hljs-built_in,
.markdown-body.gh-light-tritanopia .hljs-title.function_,
.markdown-body.gh-light-tritanopia .hljs-title {
  color: #8250df;
}

.markdown-body.gh-light-tritanopia .hljs-tag,
.markdown-body.gh-light-tritanopia .hljs-params,
.markdown-body.gh-light-tritanopia .hljs-string .pl-s1 {
  color: #24292f;
}

.markdown-body.gh-light-tritanopia .hljs-name {
  color: #0550ae;
}

.markdown-body.gh-light-tritanopia .hljs-keyword,
.markdown-body.gh-light-tritanopia .hljs-type {
  color: #cf222e;
}

.markdown-body.gh-light-tritanopia .hljs-string,
.markdown-body.gh-light-tritanopia .pl-pds,
.markdown-body.gh-light-tritanopia .hljs-string .pl-pse .pl-s1,
.markdown-body.gh-light-tritanopia .pl-sr,
.markdown-body.gh-light-tritanopia .pl-sr .pl-cce,
.markdown-body.gh-light-tritanopia .pl-sr .pl-sre,
.markdown-body.gh-light-tritanopia .pl-sr .pl-sra {
  color: #0a3069;
}

.markdown-body.gh-light-tritanopia .hljs-title.class_,
.markdown-body.gh-light-tritanopia .pl-smw {
  color: #a40e26;
}

.markdown-body.gh-light-tritanopia .pl-bu {
  color: #82071e;
}

.markdown-body.gh-light-tritanopia .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.markdown-body.gh-light-tritanopia .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.markdown-body.gh-light-tritanopia .pl-sr .pl-cce {
  font-weight: bold;
  color: #0550ae;
}

.markdown-body.gh-light-tritanopia .pl-ml {
  color: #3b2300;
}

.markdown-body.gh-light-tritanopia .pl-mh,
.markdown-body.gh-light-tritanopia .pl-mh .hljs-built_in,
.markdown-body.gh-light-tritanopia .pl-mh .hljs-title.function_,
.markdown-body.gh-light-tritanopia .pl-mh .hljs-title,
.markdown-body.gh-light-tritanopia .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.markdown-body.gh-light-tritanopia .pl-mi {
  font-style: italic;
  color: #24292f;
}

.markdown-body.gh-light-tritanopia .pl-mb {
  font-weight: bold;
  color: #24292f;
}

.markdown-body.gh-light-tritanopia .pl-md {
  color: #82071e;
  background-color: #FFEBE9;
}

.markdown-body.gh-light-tritanopia .pl-mi1 {
  color: #0550ae;
  background-color: #ddf4ff;
}

.markdown-body.gh-light-tritanopia .pl-mc {
  color: #a40e26;
  background-color: #ffcecb;
}

.markdown-body.gh-light-tritanopia .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

.markdown-body.gh-light-tritanopia .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.markdown-body.gh-light-tritanopia .pl-ba {
  color: #57606a;
}

.markdown-body.gh-light-tritanopia .pl-sg {
  color: #8c959f;
}

.markdown-body.gh-light-tritanopia .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}