.markdown-body .hljs-comment {
  color: #6e7781;
}

.markdown-body .hljs-attr,
.markdown-body .hljs-number,
.markdown-body .hljs-attribute,
.markdown-body .hljs-literal,
.markdown-body .hljs-string .hljs-title.class_ {
  color: #0550ae;
}

.markdown-body .pl-e,
.markdown-body .hljs-built_in,
.markdown-body .hljs-title.function_,
.markdown-body .hljs-title {
  color: #8250df;
}

.markdown-body .hljs-tag,
.markdown-body .hljs-params,
.markdown-body .hljs-string .pl-s1 {
  color: #24292f;
}

.markdown-body .hljs-name {
  color: #0550ae;
}

.markdown-body .hljs-keyword,
.markdown-body .hljs-type {
  color: #b35900;
}

.markdown-body .hljs-string,
.markdown-body .pl-pds,
.markdown-body .hljs-string .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: #0a3069;
}

.markdown-body .hljs-title.class_,
.markdown-body .pl-smw {
  color: #8a4600;
}

.markdown-body .pl-bu {
  color: #6f3800;
}

.markdown-body .pl-ii {
  color: #f6f8fa;
  background-color: #6f3800;
}

.markdown-body .pl-c2 {
  color: #f6f8fa;
  background-color: #b35900;
}

.markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #0550ae;
}

.markdown-body .pl-ml {
  color: #3b2300;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .hljs-built_in,
.markdown-body .pl-mh .hljs-title.function_,
.markdown-body .pl-mh .hljs-title,
.markdown-body .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.markdown-body .pl-mi {
  font-style: italic;
  color: #24292f;
}

.markdown-body .pl-mb {
  font-weight: bold;
  color: #24292f;
}

.markdown-body .pl-md {
  color: #6f3800;
  background-color: #fff5e8;
}

.markdown-body .pl-mi1 {
  color: #0550ae;
  background-color: #ddf4ff;
}

.markdown-body .pl-mc {
  color: #8a4600;
  background-color: #ffddb0;
}

.markdown-body .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

.markdown-body .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.markdown-body .pl-ba {
  color: #57606a;
}

.markdown-body .pl-sg {
  color: #8c959f;
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}