@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
    font-family: 'Poppins', sans-serif;
  }

.container {
    padding: 20px;
    padding-top: 0px;
}


.header {
    line-height: 12px;
    margin-bottom: 15px;
  }