@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
    font-family: 'Poppins', sans-serif;
  }

.container {
    margin: 20px;

}


.title {
    line-height: 12px;
    margin-bottom: 15px;
    border-bottom: 1px solid steelblue;
    padding-bottom: 10px;
  }

.title input {
    border: 0;
}

.title span


.btn {
display: inline-block;
background: #000;
color: #fff;
border: none;
padding: 10px 20px;
margin: 5px;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
font-size: 12px;
font-family: inherit;
}